<div class="container">
  <div class="row center">
    <div class="col s12">
      <h1 class="light">Faites les choses vite et bien</h1>

      <p><em>afaire</em> vous permet d'avancer dans vos tâches simplement et de retrouver la satisfaction d'accomplir des choses.</p>

    </div>
  </div>

  <div class="row center">
    <div class="col s12 m4 promo">
      <i class="material-icons">flash_on</i>
      <p class="promo-caption">Juste l'essentiel</p>
      <p class="light">Pas de fonctionnalités compliquées, pas d'interface chargée. <em>afaire</em> se concentre sur une seule chose : ce que vous avez fait et ce que vous devez accomplir.</p>
    </div>

    <div class="col s12 m4 promo">
      <i class="material-icons">done_all</i>
      <p class="promo-caption">Moins de procrastination</p>
      <p class="light"><em>afaire</em> intègre des mécanismes motivationnels qui vous donneront envie d'aller au bout de vos tâches.</p>
    </div>

    <div class="col s12 m4 promo">
      <i class="material-icons">all_inclusive</i>
      <p class="promo-caption">Simple, mais pas simpliste</p>
      <p class="light"><em>afiare</em> s'adapte à votre méthode, et non l'inverse. Utilisez-le de la façon qui vous convient le mieux.</p>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <h4 class="light center">D'où vient ce projet ?</h4>

      <p>L'idée de ce projet m'a été inspirée par <a target="_blank" href="https://twitter.com/FibreTigre">@FibreTigre</a>, et notamment par l'article de blog présentant son <a target="_blank" href="https://fibretigre.blogspot.com/2019/01/lannee-2018-en-excel.html">agenda de l'année</a>.</p>

      <p>Moi-même ayant testé plusieurs applications de todo, aucune ne me satisfaisait réellement. Sa méthode a bien fonctionné, et je me suis dit que plutôt que d'utiliser un Excel hors-ligne ou un service cloud, une application Web que je pourrai enrichir au fur et à mesure serait intéressante.</p>

    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <h4 class="light center">C'est open-source ?</h4>

      <p>Oui ! Le projet est open source, et est disponible sur GitHub : <a target="_blank" href="https://github.com/theofabry/afaire-front">site Front</a> et <a target="_blank" href="https://github.com/theofabry/afaire">API</a>.</p>
    </div>
  </div>
</div>
