<div class="container">
  <form class="col s12" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="input-field col s12">
        <input id="username" type="text" required [(ngModel)]="username" name="username">
        <label for="username">Nom d'utilisateur</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate" required [(ngModel)]="password" name="password">
        <label for="password">Mot de passe</label>
      </div>
    </div>
    <div class="row" *ngIf="loginError">
      <div class="col s12 orange-text accent-3">
        Votre nom d'utilisateur et/ou mot de passe est incorrect...
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <button class="btn btn-large waves-effect waves-light" type="submit">Connexion
        </button>
      </div>
    </div>
  </form>
</div>
