<nav>
  <div class="nav-wrapper">
    <a routerLink="/accueil" class="brand-logo">afaire</a>
    <ul id="nav-mobile" class="right">
      <li *ngIf="!userService.isAuthenticated()"><a routerLink="/connexion">Connexion</a></li>
      <li *ngIf="!userService.isAuthenticated()"><a routerLink="/inscription">Inscription</a></li>
      <li *ngIf="userService.isAuthenticated()"><a routerLink="/taches">Ma liste</a></li>
      <li *ngIf="userService.isAuthenticated()"><a routerLink="/deconnexion">Déconnexion</a></li>
    </ul>
  </div>
</nav>

<main>
  <router-outlet></router-outlet>
</main>
