<div class="container">
  <div class="row">
    <div class="col s12">
      <h4 class="center">Qu'est-ce qui a changé ? 🧐</h4>
    </div>
  </div>

  <div class="row" *ngIf="task">
    <form class="col s12 m6 offset-m3" (ngSubmit)="onSubmit()" #editTaskForm="ngForm">

      <div class="row">
        <div class="input-field col s12">
        <textarea id="content" class="materialize-textarea" [(ngModel)]="task.content" [class.valid]="content.valid"
                  [class.invalid]="content.invalid && content.touched" name="content" required
                  #content="ngModel">{{task.content}}</textarea>
          <label for="content" class="edit-label">Qu'est-ce qu'il faut faire ?</label>
          <span class="helper-text"
                *ngIf="!content.valid && content.touched">Ouais, mais sans contenu c'est inutile non ?</span>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input type="date" id="date" class="date-input" [(ngModel)]="task.due_date" name="due_date" required
                 [class.valid]="due_date.valid" [class.invalid]="due_date.invalid && due_date.touched"
                 #due_date="ngModel" value="‘{{task.due_date}}">
          <label for="date" class="edit-label">Pour quand ?</label>
          <span class="helper-text"
                *ngIf="!due_date.valid && due_date.touched">Si tu me dis pas pour quand, je pourrai pas te le rappeler 😢</span>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">

          <label for="status" class="edit-label">Où on en est ?</label>
          <select class="browser-default" name="status" id="status" [(ngModel)]="task.status" required>
            <option value="0" [selected]="task.status === 0">Fait</option>
            <option value="1" [selected]="task.status === 1">Non réalisé, indépendamment de ma volonté</option>
            <option value="2" [selected]="task.status === 2">Non réalisé, par manque de temps/flemme</option>
            <option value="3" [selected]="task.status === 3">Echoué/Abandonné</option>
            <option value="4" [selected]="task.status === 4">Réalisé après de nombreuses étapes</option>
            <option value="5" [selected]="task.status === 5">A faire</option>
          </select>

        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <button [disabled]="!editTaskForm.form.valid || submitted" class="btn btn-large waves-effect waves-light blue"
                  type="submit"
                  name="action"><span *ngIf="!submitted">Ok, on change ça. 🏃</span><i *ngIf="submitted" class="large material-icons spin">cached</i>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <button (click)="onDeleteSubmit()" class="btn btn-large waves-effect waves-light red" type="button"
                  name="action"><span *ngIf="!deleteSubmitted">On supprime. 💣</span><i *ngIf="deleteSubmitted" class="large material-icons spin">cached</i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
